body{
	position: relative;
	width: 100%;
	height: 100%;
}
.details{
	margin-top: 50px;
	margin-bottom: 75px;
}
#but{
	margin-left: 28%;
	width: 40%;
	margin-top: 50%;
	background-color: #000;
	border-color: #000;
}
section{
	margin-top:53px;
}
canvas, progress, video {
	width: 80%;
	height: auto;
	position: absolute;
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	margin:0 10%;
}
@media screen and (max-width:500px ) {
	section{
		margin-top:100px;
	}
	#but{
		margin-left: 28%;
		width: 40%;
		margin-top: 50%;
		background-color: #000;
		border-color: #000;
	}
	
}
