/**菜单**/
body{
	font-family: "楷体";
}
a{
	color: #222222;
}
a:hover,a:focus{
	text-decoration: none;
}
/*轮播*/
#Carousel{
	margin-top: 50px;
}
/*课程*/
 .course-card-top {
	position: relative;
}
.col-sm-10 {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
}
.container h4{
	font-weight: bold;
	font-size: 16px;
}
.title_a{
	font-size: 12px;
	float: right;
	padding-right: 20px;
	color:#228B22;
}

/*喜欢收藏按钮*/
.like{
	border-radius: 10px;
	position: absolute;
	bottom:25px ;
	right: 5px;
	background:none;
	color: #fff;
}
.like:hover{
	color: red;
}
/*按钮完*/

/* 媒体查询 */
@media screen and (max-width: 500px) {
	.item img{
		height: 300px;
	}
}
	

