html{
	font-family: "微软雅黑"
}
.one{
	margin:20px 0;
}
.two{
	margin-top:18px;
	color: #000;
	line-height: 25px;
}
.two h4{
	font-weight: bold;
}
.frist,.two{
	padding-right: 0;
	margin-right: 0;
}
.tit p{
	color: #000;
	padding-top: 10px;
}
#page-header{
	border: none;
}
.me-list{
	padding-left: 15px;
	margin-top: 20px;
	padding-bottom: 20px;
}
/*列表*/
#list-group a{
	padding: 20px 10px ;
}
#page-header{
	padding: 10px -0px;
}
/*退出登录*/
.me-anniu{
	margin-top: 50px;
}
#zc{
	margin-top: 20px;
	width: 100%;
	color: #fff;
}

