/*笔记知识*/
.note-list{
	/*background-color: #000;*/
	/*border: 1px solid #000;*/
	border: 1px solid rgba(222,222,222,0.34);
	border-radius: 10px;
	padding:10px;
	margin-top: 25px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
}
.note{
	margin-bottom: 60px;
}
.note-list h4{
	line-height: 25px;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 10px;
}
.note-list-box{
	position: relative;
}
.browse{
	background-color:rgba(43,43,43,0.2);
	height: 50px;
	padding: 5px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.note-list p{
	line-height: 25px;
}
.note-to{
	margin-top: 10px;
	text-indent: 2em;
}
.color{
	color: #666;
}

.note-but a{
	color: #000;
	font-size: 15px;
}
.title .text-center{
	margin-top: 30px;
}
/**笔记——详情**/
.notexq{
	margin-top: 10px;
	color: #fff;
	margin-bottom: 90px;
}
.notexq h4{
	line-height: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d7d7d7;
}
.notexq h4 small{
	color: #000;
	font-size: 14px;
	margin-top: 10px;
}
.notexq-top{
	margin-top: 21px;
	margin-bottom: 10px;
}
.notexq p{
	text-indent: 2em;
	color: #000;
	line-height: 30px;
	letter-spacing: 1px;
}
.notexq h5{
	letter-spacing: 1px;
	font-size: 16px;
	margin-bottom: 20px;
}
.notexq a{
	color: #000;
	font-size: 16px;
}
.notexq .bg a{
	color: #000;
	font-size: 16px;
	line-height: 50px;
}
.bg{
	background-color: #3f3331;
}