/**意见反馈开始**/
.opinion{
	/*margin-top: -30px;*/
	margin-bottom: 90px;
}
.opinion h4{
	color:#000;
	font-size: 20px;
}
.opin-top{
	margin-top: 15px;
	background-color: #797979;
	border: 1px solid #797979;
}
.opinion button{
	/*color: #000;*/
	margin-top: 15px;
}
/**意见反馈结束**/
/**常见问题开始**/
.question{
	margin-bottom: 60px;
}
.question-box{
	margin-top: 20px;
	margin-bottom:30px;
	background-image: url(../images/u218.png);
	background-size: cover;
	border-radius: 8px;
	padding: 25px;
	color: #fff;
}
.question-box h4{
	margin-top: 0;
	border-bottom: 1px solid #C9C9C9;
	line-height: 35px;
}
/**常见问题结束**/
/**关于我们开始**/
.title .text-center{
	margin-top: 15px;
}
.about{
	margin-top: -30px;
	text-align: center;
	margin-bottom: 100px;
}
.about h4{
	color: #000;
	margin-top: 20px;
	line-height: 30px;
}
.red{
	color: red;
	font-weight: bold;
}
/**关于我们结束**/
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: -30px;
    margin-bottom: 10px;
}