
/***登录开始***/
/**表单**/
.register{
	margin-bottom: 100px;
	/*padding-top: 15px;*/
}
.register p{
	margin-top: 10px;
}
.reg-top{
	margin-top: 25px;
}
#dl{
	color: #fff;
	font-size: 15px;
	margin-top: 40px;
	width: 100%;
}

/***登录
结束***/
/***注册开始***/
.login{
	margin-top: 30px;
	padding-bottom: 100px;
}
.log-top{
	margin-top: 18px;
}
.login p a{
	color:#228B22;
}
.login p{
	margin-top: 10px;
}
#zc{
	margin-top: 40px;
	/*background-color: #312c2b;*/
	color: #fff;
}
/***注册结束***/