
/**课程章节开始**/
.section h4,.difficulty h4{
	/*color: #fff;*/
	margin-top: 30px;
	line-height: 40px;
	padding-bottom: 5px;
	border-bottom: 1px solid #797979;
}
.section h5{
	line-height: 30px;
}
/*.section .panel-body,.difficulty .panel-body{*/
	/*padding-top: 7px;*/
	/*padding-bottom: 7px;*/
/*}*/
/*.section-list a,.difficul-list a{*/
	/*color: #343434;*/
/*}*/
/*.panel-body a{*/
	/*font-size: 12px;*/
/*}*/
/*.section{*/
	/*margin-top: -10px;*/
	/*margin-bottom: 100px;*/
/*}*/
/*i{*/
	/*!*color: green;*!*/
	/*float: right;*/
/*}*/
.title{
	background-image: url(../image/mohu/c-1.png);
}
.title h3{
	margin-top: 60px;
}
/*.more a{*/
	/*color: #cd7105cc;*/
/*}*/

/**课程章节结束**/
/**难点分析开始**/
.difficul-list .panel{
	margin-top: 20px;
}
.difficulty{
	margin-bottom: 70px;
}
.more a{
	color: #000;
	font-size: 18px;
}
/**难点分析结束**/