.mesz-main{
	background-color: #ccc;
}
/*.title{*/
	/*color: #000;*/
/*}*/
.tit{
	color: #000;
	margin-top: 25px;
	font-weight: bold;
}
.tit-right{
	margin-top: -20px;
	margin-bottom: 10px;
}
.me-tx{
	border-bottom: 1px solid #898686;
	margin-bottom: 5px;
}
.nc{
	color: #5f5454;
	margin: 20px 0px;
}
.nc-right{
		font-size: 14px;
	color: #888;
}
.nc-right:hover{

	color: red;
}
.mesz-next{
	background-color: rgba(27,27,27,0.35);
	margin-top: 20px;
	margin-bottom: 90px;
}
a{
	color:#5f5454; 
}
 a:hover {
    color: red;
    text-decoration: none;
}
#cat{
	font-size: 14px;
	font-weight: bolder;
	color: #000;
}
